body{
    margin: 0 auto;
    height: 1000px;
    width: 100%;
    background-color:rgb(188, 247, 247);
}
body p{
    text-align: center;
    font-size: 32px;
    color: red;
    
}
.move_tool{
    font-size: 25px;
    color: rgb(14, 143, 16);
    border: 1px solid;
    border-radius: 5px;
    background-color: aliceblue;

}